{{ partial "header.html" . }}
<body>
<div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
   <a href="http://cvillemathcircle.org"><h1 class="brand-title">Cville Math&nbsp;Circle</h1></a>
 <h2 class="brand-tagline">Not-So Secret Order of the <em>Twin&nbsp;Primes</em></h2>
<p>

A <em>math circle</em> is a group of people playing together with
mathematical puzzles and problems.
</p>
   <p>
     
Our math circle is for 6-8
year-old girls, and focused on open exploration with mathematical
concepts and occasionally unhealthy virtual snacks.
</p>
<p>
<b>Meetings:</b><Br>
For summer 2020, our meetings will be held on Zoom,<br>
schedule to be determined.

</p>
<p>
All are welcome! <Br>
To join, send email
to <a href="mailto:cvillemathcircle@gmail.com"><em>cvillemathcircle@gmail.com</em></a>.
</p>
<p>
<b>Founders:</b><br>

<a href="http://www.ananoraevans.org/">Ana Nora</a>, 
<a href="//www.cs.virginia.edu/evans">David</a>, and
<a href="http://www.dorina.org">Dorina&nbsp;Evans</a>
</p>
<p>
<a href="/images/IMG_7783.jpg"><img src="/images/IMG_7783_circle_small.png" width="100%" align="center"></a>
</p>



    

  </div>
</div>


        <div class="content pure-u-1 pure-u-md-3-4">
            <a name="top"></a>
            


<section id="main">
  <div>
{{ range .Pages }}
        {{ .Content }}
  {{ end }}
    
    {{ range first 1 .Site.Pages }}
        {{ .Content }}
    {{ end }}
  </div>
</section>

        {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
