{{ partial "header.html" . }}
<body>
<div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
<a href="/images/IMG_7783.jpg"><img src="/images/IMG_7783_circle_small.png" width="100%" align="center"></a>

   <a href="http://cvillemathcircle.org"><h1 class="brand-title">Cville Math&nbsp;Circle</h1></a>
<h2 class="brand-tagline">Secret Order of the <em>Twin Primes</em></h2>
<p>
A <em>math circle</em> is a group of people playing together with
mathematical puzzles and problems.  Our math circle is for three to six-year-old girls, and focused on open exploration with mathematical
concepts and occasionally unhealthy snacks.

</p>
<p>
<b>Meetings:</b><Br>
Thursday afternoons in Charlottesville<br>
(Fontana, near the Pantops)
</p>
<p>
To join, send email
to <a href="mailto:ananevans@gmail.com"><em>ananevans@gmail.com</em></a>.
</p>
<p>
<b>Founders:</b><br>

<a href="http://www.ananoraevans.org/">Ana Nora</a>, 
<a href="//www.cs.virginia.edu/evans">David</a>, and
<a href="http://www.dorina.org">Dorina&nbsp;Evans</a>





    

  </div>
</div>


        <div class="content pure-u-1 pure-u-md-3-4">
            <a name="top"></a>
            


<section id="main">
  <div>
    {{ range first 1 .Site.Pages }}
        {{ .Content }}
    {{ end }}
  </div>
</section>

        {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
